---
import Card from "~/components/Card.astro";
import Layout from "../layouts/MainLayout.astro";
---

<Layout title="olzhas dev">
  <main class="w-full">
    <div class="flex w-full flex-col items-center pt-12">
      <h1 class="font-display text-7xl font-normal">Olzhas</h1>
      <h2 class="text-2xl">Software Engineer</h2>
    </div>
    <div class="flex justify-center pt-8">
      <div class="grid grid-cols-3 gap-x-6 gap-y-8">
        <Card title="Test" body="test" />
        <Card title="Test" body="test" />
        <Card title="Test" body="test" />
        <Card title="Test" body="test" />
        <Card title="Test" body="test" />
        <Card title="Test" body="test" />
      </div>
    </div>
  </main>
</Layout>
