---
import { Image } from "astro:assets";
import TsLogo from "~/assets/logos/ts-logo-round-128.svg";
import ReactLogo from "~/assets/logos/react-logo.svg";
import NextJsLogo from "~/assets/logos/next-js-logo.svg";
import GoLogo from "~/assets/logos/go-logo_aqua.svg";
import PrismaLogo from "~/assets/logos/prisma-logo.svg";
import TechToolIcon from "./TechToolIcon.astro";
interface Props {
  title: string;
  body: string;
  footer?: string;
}

const { title, body } = Astro.props;
---

<div class="w-96 border pb-2">
  <Image
    src="https://placehold.co/600x400"
    alt="Image Placeholder"
    width={382}
    height={500}
    class="max-w-96"
  />

  <p class="px-4 py-2">
    {body}
  </p>
  <hr />
  <ul class="flex gap-x-1 px-4 pb-2 pt-4">
    <li>
      <TechToolIcon name="typeScript" />
    </li>
    <li>
      <TechToolIcon name="react" />
    </li>
    <li>
      <TechToolIcon name="nextJs" />
    </li>
    <li>
      <TechToolIcon name="go" />
    </li>
    <li>
      <TechToolIcon name="prisma" />
    </li>
  </ul>
</div>
<style></style>
