---
import Card from "./Card.astro";
---

<div class="flex justify-center pt-8">
  <div class="grid grid-cols-3 gap-x-6 gap-y-8">
    <Card title="Test" body="test" />
    <Card title="Test" body="test" />
    <Card title="Test" body="test" />
    <Card title="Test" body="test" />
    <Card title="Test" body="test" />
    <Card title="Test" body="test" />
  </div>
</div>
